{% extends 'base.html.twig' %}

{% block body %}

  <section>
    <div class="container">

      {% if error %}
        <div class="alert alert-danger">
          {{ error.messageKey | trans(error.messageData, 'security') }}
        </div>
      {% endif %}

      <div class="row">
        <div class="col-md-6 text-center" id="login_form">
          <img class="mb-3" id="login_logo" src="{{ asset('images/logos/logo.png') }}" alt="logo">
          <h3 id="connection-title">Connexion</h3>
          <form action="{{ path('login') }}" method="post">
            <div class="form-group mt-4">
              <input type="text" class="form-control" placeholder="Your Username *" name="_username" value="{{ last_username }}" />
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Your Password *" name="_password" value="" />
            </div>
            <div class="form-group" id="connection-button">
              <input type="submit" class="btnSubmit" value="Login" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

{% endblock body %}
