{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container">

            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey | trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <div class="row text-center">
                <div class="col-md-6 align" id="login_form">
                    <form action="{{ path('login') }}" method="post">
                        <img class="mb-3" src="{{ asset('images/logo.png') }}" alt="logo" width="164" height="164">
                        <h3>Connexion</h3>
                        <div class="form-group mt-4">
                            <input type="text" class="form-control" placeholder="Your Username *" name="_username" value="{{ last_username }}" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Your Password *" name="_password" value="" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="Login" />
                        </div>
                        {#<div class="form-group">
                            <a href="#" class="ForgetPwd">Forget Password?</a>
                        </div>#}
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}