{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container mt-2" id="description_bar">
            <h4><a href="{{ path('home') }}"><span>Acidarts ></span></a> About</h4>
            <h1>Sottile Jean.Baptiste</h1>
            <h2>as ACIDARTS</h2>
        </div>
        <div class="container mt-2">
            <div class="col-md-7">

            </div>
            <div class="col-md-4">
                
            </div>
        </div>

    {#<section>

        <div class="wrapper">

            <!-- Titre ACIDARTS>ABOUT -->
            <h4><a href="index.html"><span>Acidarts ></span></a> About</h4>

            <!-- Titre de la page "about" -->
            <h1>Sottile Jean.Baptiste</h1>
            <h2>as ACIDARTS</h2>

            <!-- Contient toute la partie de présentation à gauche et l'image à droite -->
            <div class="flex-container-project">

                <!-- Contient la présentation -->
                <div class="flex-item-project-gauche">

                    <div class="identification-about">

                        <p class="title-project">INTRODUCTION</p>

                        <p class="description-project2"><i>FR</i> - Mon nom est Sottile Jean.Baptiste et je suis un artiste 3D basé à Nice, en France.</p>
                        <p class="description-project2">Je me spécialise dans la <b>visualisation d’architecture</b>, plus particulièrement dans l’intéraction en <b>temps-réel</b> de ce domaine, ainsi que dans la production d’<b>images/vidéos</b> en <b>rendu CG</b> (4 ans d'expérience).</p>
                        <p class="description-project2">J’ai suivi des études de conception 3D VFX à l’école <a href="http://www.ecolearies.fr/"><b>ARIES</b></a> sur Aix-En-Provence (France).
                            J’ai pu y étudier les multiples aspects de la 3D, me permettant aujourd’hui de m’intéresser à tout type de projet.
                            Dans mon parcours, j’ai eu l’occasion de travailler en <b>3D</b> dans différents domaines (<b>médical, industriel, architecture, temps-réel, jeux-vidéos</b>), mais aussi dans le domaine de la <b>2D</b>.
                        <p class="description-project2"><b>Détermination, Précision, Collaboration,</b> sont pour moi les maîtres-mots dans le métier que j’exerce, afin de toujours m’assurer du bon fonctionnement d’un projet.

                        <p class="description-project2"><i>EN</i> - My name is Sottile Jean.Baptiste and I am a 3D artist based in Nice, France.
                        <p class="description-project2">I’m specialized in <b>architecture visualisation</b>, mainly in the <b>real-time</b> interaction of this domain, and also in production of still <b>images/videos renders</b> (4 years experience).</p>
                        <p class="description-project2">I studied 3D VFX conception in <a href="http://www.ecolearies.fr/"><b>ARIES School</b></a> located in Aix-En-Provence (France).
                            I learnt multiples aspects of 3D, allowing me today to be interested in any project.
                            In my career, I had the opportunity to work in several <b>3D</b> domains (<b>medical, industrial, architecture, real-time, video-games</b>) and even in the <b>2D</b> domain.
                        <p class="description-project2"><b>Hardwork, Precision, Teamwork,</b> are for me the main keywords in my job to make sure that the project runs properly.

                        <p class="title-project"><a href="http://www.acidarts.fr/cv_SOTTILE-JEANBAPTISTE-2019-min.pdf" target="_blank">TELECHARGEZ MON CV/DOWNLOAD MY RESUME.</a></p>

                    </div>

                </div>

                <!-- Contient la photo -->
                <div class="flex-item-project-droite">

                    <div class="img-project-about">
                        <img src="images/about.jpg" id="about">
                    </div>

                </div>

            </div>

        </div>

    </section>
    <section class="library">

        <div class="wrapper2">

            <p class="title-project">SKILLS</p>

            <!-- chaque Skill correspond à une image dont le fond d'écan est géré dans le CSS -->
            <div id="skills">
                <div class="skills1"></div>
                <div class="skills2"></div>
                <div class="skills3"></div>
                <div class="skills4"></div>
                <div class="skills5"></div>
                <div class="skills6"></div>
                <div class="skills7"></div>
                <div class="skills9"></div>
                <div class="skills10"></div>
                <div class="skills11"></div>
                <div class="skills12"></div>
                <div class="skills13"></div>
                <div class="skills14"></div>
                <div class="skills15"></div>
            </div>

        </div>

    </section>
    <section>

        <div class="wrapper2">

            <p class="title-project">EVENTS</p>

            <p class="description-project-about">- <a href="https://vimeo.com/129578777" target="_blank"><b>Short Film «The Mogz»</b></a> at Aries School, Aix-En-Provence (2014-2015)</p>
            <p class="description-project-about">- <a href="https://globalgamejam.org/2015/games/east-german-space-prison-break" target="_blank"><b>Global Game Jam</b></a> at Aix-En-Provence (2015)</p>
            <p class="description-project-about">- <a href="http://www.pavillon-arsenal.com/fr/visites-activites/10825-haussmann-20.html" target="_blank"><b>Hackathon «Haussman 2.0»</b></a> at Paris (2017)</p>

        </div>

    </section>
    <section>

        <div class="wrapper2">

            <p class="title-project">CAN WORK WITH</p>

            <div id="skills">
                <div class="work0"></div>
                <div class="work1"></div>
                <div class="work2"></div>
                <div class="work3"></div>
            </div>

        </div>

    </section>#}

{% endblock %}