{% extends 'base.html.twig' %}

{% block body %}
    <section>

        <div class="container mt-2">
            <h4><a href="{{ path('home') }}"><span>Acidarts ></span></a> Projects</h4>
            <h1>Projects</h1>
        </div>

        <!-- PROJECTS LIST -->
        <div class="container" id="projects_block">
            <div class="row">
                {% for project in projects %}
                    <div class="col-md-4">
                        {% include 'project/_project.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>

    </section>
{% endblock %}
