{% extends 'base.html.twig' %}

{% block title 'Projects' %}

{% block body %}
    <div class="container mt-4">
        <h1>Les projets</h1>

        <div class="row">
            {% for project in projects %}
                <div class="col-md-4">
                    {% include 'project/_project.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}