.copyright {
    text-align: center;
    font-weight: lighter;
    font-size: 14px;
}

footer {
    height: 100px;
    width: 100%;

    position: absolute;
    bottom: 0;
}

footer p {
    color: rgba(77, 77, 77, 0.75);
    padding-top: 40px;
    font-size: 11px;
}