{% extends 'base.html.twig' %}

{% block body %}

    <section>
        <div class="container mt-2">
            <h4><a href="{{ path('home') }}"><span>Acidarts ></span></a> <a href="{{ path('admin.project.index') }}">Administration</a></h4>
            <h1>Edit project</h1>
        </div>

        {{ include('admin/project/_form.html.twig', {button: 'Editer'}) }}

    </section>

{% endblock body %}
