{% extends 'base.html.twig' %}

{% block body %}

  <section>
    <div class="wrapper">
      <h4><a href="{{ path('home') }}"><span>Acidarts ></span></a> Projects</h4>
      <h1>Projects</h1>

      <!-- BLOCK PROJECTS -->
      <div class="flex-container">
        {% for project in projects %}
          {% include 'project/_project.html.twig' %}
        {% endfor %}
      </div>
      <!-- ENDBLOCK PROJECTS -->
    </div>
  </section>

{% endblock body %}
