/* GENERAL */

@import url('https://fonts.googleapis.com/css?family=Poppins');
* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Poppins, "Helvetica Neue", Arial, sans-serif;
    min-height: 100%;
}

body,
html {
    height: 100%;
    color: #000;
}

.background {
    position: absolute;
    top: 0;
    width: 20%;
    min-width: 100px;
}

::selection {
    color: white;
    background-color: #444;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
    padding: auto 10px;
}

.main {
    min-height: 100%;
    position: relative;
}

section h1 {
    margin-top: 20px;
    font-size: 50px;
    font-weight: 600;
}

section h4 {
    font-size: 0.875em;
    font-weight: 600;
    text-transform: uppercase;
}

section h2 {
    font-style: italic;
    margin-top: -15px;
}

section h4 span {
    color: rgba(77, 77, 77, 0.5);
}

section h4, h1, h2 {
    padding-left: 30px;
}


/* HEADER + MENU */

header {
    height: 125px;
    margin: 0 auto;
}

.logo {
    text-transform: uppercase;
    float: left;
    width: 250px;
}

nav {
    margin-top: 50px;
    width: 100%;
}

nav ul {
    float: right;
}

nav>ul::after {
    content: "";
    display: table;
    clear: both;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 1em 2.2em;
    margin-right: 30px;
}

nav ul li a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    display: block;
}

nav ul li a:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -5px;
    background: #000;
    transition: all 0.3s ease-in;
}

nav ul li a:after {
    width: 0%;
    height: 2px;
}

nav ul li a:hover:before {
    height: 100%;
}

nav ul li a:hover:after {
    width: 100%;
}

nav input[type=checkbox] {
    display: none;
}

nav input[type=checkbox]:checked~ul {
    display: block;
}

.menu-mobile {
    display: none;
}


/* CONTENT */

.content {
    padding-bottom: 130px;
}


/* FOOTER */

.copyright {
    text-align: center;
    font-weight: lighter;
    font-size: 14px;
}

footer {
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer p {
    color: rgba(77, 77, 77, 0.75);
    padding-top: 40px;
    font-size: 11px;
}


/* PROJECTS */

.flex-container {
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    display: flex;
    min-width: 300px;
    width: 33.33%;
}

.flex-content {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    width: 100%;
}

.flex-container-element {
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
}

#links {
    margin: 50px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: flex-start;
}

#links:hover {
    cursor: pointer;
}

#links a {
    width: 32.5%;
    margin-right: 0.83%;
}

.flex-item-project-img {
    width: 60%;
}

.flex-item-project-desc {
    width: 40%;
}

.img-project {
    margin-top: 50px;
    text-align: center;
}

.img-project-thumbnail {
    width: 92.5%;
}

.img-project-library {
    width: 100%;
}

.imgprvw {
    width: 100%;
    transform: scale(1);
    transition-duration: 0.3s;
}

.title {
    font-size: 0.875em;
    font-weight: 600;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.title-element {
    font-size: 0.875em;
    font-weight: 600;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.type {
    font-size: 0.875em;
    font-weight: 600;
    margin-bottom: 20px;
    color: rgba(77, 77, 77, 0.5);
}

.type-project {
    font-size: 0.875em;
    font-weight: 600;
    color: rgba(77, 77, 77, 0.5);
}

.description-text {
    font-size: 0.70em;
    margin-bottom: 20px;
    text-align: justify;
}

.library {
    background-color: rgba(77, 77, 77, 0.1);
    margin: 60px 0;
    padding: 60px 0;
}

.video {
    text-align: center;
}

.video a img {
    width: 100%;
}


/* ANIMATION IMAGE */

.snip1573 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.snip1573 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.snip1573:before,
.snip1573:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    background-color: #FFFFFF;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    content: '';
    opacity: 1;
    z-index: 1;
}

.snip1573:before {
    -webkit-transform: skew(60deg) translateX(-155%);
    transform: skew(60deg) translateX(-155%);
}

.snip1573:after {
    -webkit-transform: skew(0deg) translateX(155%);
    transform: skew(0deg) translateX(155%);
}

.snip1573 img {
    backface-visibility: hidden;
    max-width: 100%;
    vertical-align: top;
}

.snip1573 figcaption {
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
}

.snip1573 h3 {
    background-color: #FFFFFF;
    color: #000;
    border-radius: 50%;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0px;
    margin: 0;
    padding: 12px 20px;
    text-transform: uppercase;
}

.snip1573 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.snip1573:hover>img,
.snip1573.hover>img {
    opacity: 0.8;
    -webkit-transition: all 250ms ease-in;
    -webkit-transform: scale(1.1);
}

.snip1573:hover:before,
.snip1573.hover:before {
    -webkit-transform: skew(45deg) translateX(-100%);
    transform: skew(45deg) translateX(-100%);
}

.snip1573:hover:after,
.snip1573.hover:after {
    -webkit-transform: skew(45deg) translateX(100%);
    transform: skew(45deg) translateX(100%);
}

.snip1573:hover figcaption,
.snip1573.hover figcaption {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}


/* FIN ANIMATION IMAGE */


/* LOGIN FORM */

#login-container {
    margin-top: 50px;
    text-align: center;
}

.login-logo {
    width: 200px;
}

.login-form {
    width: 40%;
    margin: 60px auto;
}

input {
    font-family: inherit;
    font-size: inherit;
}

.login-form input,
.login-form textarea {
    font-size: 14px;
    border-top: 0;
    border-left: 0.5px solid rgba(77, 77, 77, 0.25);
    border-right: 0.5px solid rgba(77, 77, 77, 0.25);
    border-bottom: 0.5px solid rgba(77, 77, 77, 0.25);
}

input::placeholder,
textarea::placeholder {
    text-transform: uppercase;
    font-weight: 600;
}

.username {
    border-top: 0.5px solid rgba(77, 77, 77, 0.25) !important;
}

.username,
.password {
    width: 95%;
    box-sizing: border-box;
    padding: 1.5em;
}

.submit {
    display: block;
    position: relative;
    margin-top: 20px;
    margin-left: 15px;
    border-radius: 3px;
    border: 0;
    background: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.submit:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -8px;
    background: #000;
    transition: all 0.3s ease-in;
}

.submit:after {
    width: 0%;
    height: 2px;
}

.submit:hover:before {
    height: 100%;
}

.submit:hover:after {
    width: 100%;
}


/* ADMINISTRATION */

.table-projects {
    max-width: calc(100% - 2em);
    margin: 0 auto;
    margin-top: 50px;
    width: 800px;
}

.table-projects-title {
    font-size: 1.5em;
    padding: 1rem;
    text-transform: uppercase;
    width: 100%;
}

.table-projects-title p {
    text-align: left;
}

.table-projects-title i {
    padding: 0.3rem;
    float: right;
    color: rgba(77, 77, 77, 0.85);
}

.table-projects-title i:hover {
    color: black;
}

.table-projects-list {
    width: 100%;
    border: 0.5px solid rgba(77, 77, 77, 0.25);
}

.table-projects-list th {
    padding: 10px;
}

.table-projects-list tr {
    border-bottom: 1px solid rgba(77, 77, 77, 0.25);
}

.table-projects-list tr th:last-child {
    width: 5%;
}

.table-projects-list td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.table-projects-list th {
    background-color: rgba(77, 77, 77, 0.125);
    font-weight: 300;
}

.table-projects-list td i {
    color: rgba(77, 77, 77, 0.85);
    padding: 0.25em;
}

.table-projects-list td i:hover {
    color: black;
}

.delete-project button {
    border: 0;
    background: none;
    font-size: 16px;
    cursor: pointer;
}

.delete-project {
    display: inline-block;
}

.project-delete-button {
    background: none!important;
    border: none;
    padding: 0!important;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1rem;
}


/* PROJECT FORM */

.flex-image {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    width: 100%;
}

.flex-image img {
    margin: 5px auto;
}

.flex-image form {
    height: 0;
    width: 0;
}

.delete-image {
    width: 0;
}

.delete-image button {
    background-color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 2px;
    padding: 0.1em;
    position: relative;
    cursor: pointer;
    right: 74px;
    top: 5px;
    transform: scale(1);
    transition-duration: 0.3s;
}

.delete-image button:hover {
    background-color: black;
    color: white;
    transform: scale(1.1);
    transition-duration: 0.3s;
}

.flex-form {
    width: 60%;
}

.project-form {
    margin-top: 50px;
    width: 100%;
}

.project-form .title,
.project-form .choices,
.project-form .description,
.project-form .thumbvideo,
.project-form .thumbvideotitle,
.project-form .thumbfile,
.project-form .imagefiles {
    width: 100%;
    padding: 1em;
    border: 1px solid rgba(77, 77, 77, 0.25);
    margin-top: 5px;
    margin-bottom: 20px;
}

.project-form .description {
    height: 350px;
}

.project-form .tox-tinymce {
    margin-bottom: 25px;
}

.project-form h3 {
    margin-bottom: 10px;
    text-align: center;
}

.project-form img {
    width: 100%;
}

.project-form .title:focus,
.project-form .description:focus,
.project-form .thumbvideo:focus,
.project-form .thumbvideotitle:focus,
.project-form .thumbfile:focus,
.project-form .imagefiles:focus {
    outline: none;
    border: 1px solid black;
}

.project-form .choices:focus {
    outline: none;
}

.project-form .thumbfile:hover,
.project-form .imagefiles:hover {
    cursor: pointer;
}

.project-form button {
    display: inline-block !important;
}


/* ABOUT  */

.identification {
    width: 80%;
    margin: 50px auto 0 auto;
}

.identification-project {
    width: 80%;
    margin: 50px auto;
}

.identification-about {
    width: 70%;
    margin: 50px 0;
}

.img-project-about {
    margin-top: 50px;
}

#about {
    width: 75%;
}

.skills {
    margin: 50px auto;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    flex-flow: row wrap;

    justify-content: flex-start;
}

.skill {
    height: 40px;
    width: 131px;
    margin-right: 5px;
    margin-top: 5px;
}


/* CONTACT */

.title-contact {
	font-size: 0.875em;
    font-weight: 600;
	font-weight: bold;
	margin-bottom: 20px;
}

.description-contact {
	font-size: 0.875em;
    font-weight: 600;
	color: rgba(77, 77, 77, 0.5);
}

.img-social {
	width: 7.5%;
}

.contact {
    margin-top: 50px;
}

input, textarea {
    font-family: inherit;
    font-size: inherit;
}

.contact input, .contact textarea {
    font-size: 14px;
    border: 0;
    border-left: 0.5px solid rgba(77, 77, 77, 0.25);
    border-right: 0.5px solid rgba(77, 77, 77, 0.25);
    border-bottom: 0.5px solid rgba(77, 77, 77, 0.25);
}

.contact .surname {
	border-top: 0.5px solid rgba(77, 77, 77, 0.125);
}

.contact input:focus,
.contact textarea:focus {
    outline: none;
    border: 1px solid black;
}

.contact textarea {
	height: 250px;
    resize: none;
}

.surname, .name, .email, .subject {
	width: 70%;
    box-sizing: border-box;
	padding: 1.5em;
}

.message {
	width: 70%;
    box-sizing: border-box;
	padding: 1.5em;
}

#button {
    display: block;
    position: relative;

    margin: 20px 0;
    border-radius: 3px;
    border: 0;

    background: white;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;

    cursor: pointer;
}

#button:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -8px;
    background: #000;
    transition: all 0.3s ease-in;
}

#button:after {
    width: 0;
    height: 2px;
}

#button:hover:before {height: 100%;}
#button:hover:after {width: 100%;}

#button-cancel {
    display: block;
    position: relative;

    margin: 20px 0;
    border-radius: 3px;
    border: 0;

    background: white;

    text-transform: uppercase;
    font-size: 14px;

    cursor: pointer;
}

#button-cancel:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -8px;
    background: #000;
    transition: all 0.3s ease-in;
}

#button-cancel:after {
    width: 0;
    height: 2px;
}

#button-cancel:hover:before {height: 100%;}
#button-cancel:hover:after {width: 100%;}


/* RESPONSIVE ENTRE 750PX ET 1124PX */

@media screen and (min-width: 750px) and (max-width: 1124px) {
    #links {
        justify-content: space-around;
    }
    #links a {
        width: 49.33%;
        margin: 0;
    }
    .flex-item {
        width: 47.5%;
    }
    .snip1573 {
        margin: 10%;
    }
    nav ul li {
        padding: 1em 1.3em;
    }
}


/* RESPONSIVE SOUS LES 749PX */

@media screen and (max-width: 749px) {
    .menu-mobile {
        display: block;
        color: #FFF;
        background-color: rgba(77, 77, 77, 0.5);
        text-align: center;
        padding: 12px 0;
        margin: 0;
        clear: both;
    }
    .container {
        width: 100%;
    }
    nav {
        margin-top: 10px;
        text-align: center;
        position: absolute;
    }
    nav ul {
        display: none;
        float: none;
        border-bottom: 2px solid #777;
    }
    nav ul li {
        background-color: #F5F5F5;
        margin-right: 0;
    }
    nav ul li:hover {
        background-color: rgb(228, 228, 228);
        border-radius: 0;
    }
    nav ul li:hover a {
        padding: 12px 0;
    }
    nav ul li,
    nav ul li a {
        width: 100%;
        padding: 12px 0;
        text-align: center;
    }
    nav ul li a:hover:before {
        height: 0;
    }
    nav ul li a:hover:after {
        width: 0;
    }
    .logo {
        float: left;
        margin-left: 5px;
        padding: 10px 0;
    }
    #links {
        justify-content: space-around;
    }
    #links a {
        width: 90%;
        margin: 0;
    }
    .snip1573 {
        width: 100%;
    }
    .flex-item {
        width: 100%;
    }
    .flex-item-project-img {
        width: 90%;
    }
    .flex-item-project-desc {
        width: 90%;
    }
    section h4,
    h1 {
        padding-left: 20px;
    }
    section h1 {
        font-size: 42px;
    }
    .background {
        width: 30%;
        min-width: 100px;
    }
    .content {
        padding-top: 30px;
    }
    .type-project {
        margin-top: 0;
    }
    #login-container {
        margin-top: 10px;
    }
    .login-logo {
        margin-top: 30px;
    }
    .login-form {
        width: 95%;
        margin-top: 30px;
    }
    .submit {
        margin-left: 10px;
    }
    table {
        width: 95%;
    }
}
