<p>Bonjour</p>
<p>Vous venez de recevoir un email de contact de la part de <b>{{ contact.name }} {{ contact.lastname }}</b></p>
<p><b>Son email:</b> {{ contact.email }}</p>
<p><b>Son message:</b></p>
<p style="width: 33%;">{{ contact.message | nl2br }}</p>
<p>Cordialement, le site Web.</p>
