<div class="card mb-4 mt-4">
    {% if project.filename %}
        <img src="{{ vich_uploader_asset(project, 'thumbFile') }}" alt="" class="card-img-top" style="width: 100%; height: auto;">
    {% else %}
        <img src="{{ 'images/empty.jpg' }}" alt="" class="card-img-top" style="width: 100%; height: auto;">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('project.show', {slug: project.slug, id: project.id}) }}">
                {{ project.title }}
            </a>
        </h5>
    </div>
</div>