<div class="card mb-4 mt-4">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('project.show', {slug: project.slug, id: project.id}) }}">
                {{ project.title }}
            </a>
        </h5>
    </div>
</div>