{% extends 'base.html.twig' %}

{% block body %}

  <section>
    <div class="container">
      <h4><a href="{{ path('project_index') }}"><span>Acidarts ></span></a> Projects</h4>
      <h1>Projects</h1>

      <div class="flex-container">
        {% for project in projects %}
          {% include 'project/_project.html.twig' %}
        {% endfor %}
      </div>
    </div>
  </section>

{% endblock body %}
